.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards horizontally */
    gap: 20px;
    padding: 30px;
    background-color: #f4f4f4;
}

.dashboard a{
    text-decoration: none;
}

/* Styling for the card */
.dashboard .card {
    width: calc(25 - 30px); /* Adjusted width to display three cards in one line */
    min-width: 200px;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Styling for the additional cards */
.card-add{
    background-color: #007BFF;
    color: #fff;
}

.card-edit {
    background-color: #28a745;
    color: #fff;
}

.card-blog{
    background-color: #fd7e14;
    color: #fff;
}



/* Styling for the new cards */
.card-blog {
    background-color: #ff4081; /* Custom color for "Manage Blog" */
    color: #fff;
}

.card-gallery {
    background-color: #098a9b; /* Custom color for "Manage Gallery" */
    color: #fff;
}

.card-messages {
    background-color: #02628f; /* Custom color for "Messages" */
    color: #fff;
}
.card-profile{
    background-color: #08307a; /* Custom color for "Messages" */
    color: #fff;
}
.card-logout{
    background-color: #bd3c15; /* Custom color for "Messages" */
    color: #fff;
}

.card-settings {
    background-color: #9c27b0; /* Custom color for "Settings" */
    color: #fff;
}

.card-users{
    background-color: #4f1958; /* Custom color for "Settings" */
    color: #fff;
}

/* Styling for the icon */
.icon {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
}

/* Styling for the name */
.name {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

/* Hover effect */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


/* Responsive layout */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Two cards in one line on smaller screens */
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 20px); /* One card in one line on even smaller screens */
    }
}

